.header {
    margin: 20px 10px 10px 10px;
    display: flex;
    justify-content: space-between;

}
.header_user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header_logo {
    font-size: xx-large;
    cursor: pointer;
}
.header_logo span {
    color: red
}

.header_link {
    text-decoration: none;
}
.header_user__adress{ 
    color: black;
}