.navBar {
    height: 88vh;
    width: 15%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(245,247,249);
    border-radius: 10px 0px 0px 10px;
}
.navBar_link{
    text-decoration: none
}
.navBar_button {
    padding: 8px 0 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    border: none;
    border-radius: 10px;
    color: #FFF;
    background-color: rgb(64, 138, 231);
    cursor: pointer;
    transition-delay: 0.15s;
}
.navBar_button:hover {
    background-color: rgba(64, 138, 231, 0.8);
}
.menuItem {
    padding: 5px 10px 5px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: none;
}
.menuItem:hover {
    background-color: rgb(226,229,232);
    border-radius: 10px;
    cursor: pointer;
}
.menuItem_count {
    color: rgb(64, 138, 231) ;
}