/* @import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap'); */

body {
    height: 100%;
    font-family: 'Titan One', cursive;
    background: rgb(229,234,241);
    margin: 0;
    padding: 0 20px 40px 20px;
}

.wrapper {
    display: flex;
}