@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Titan One', cursive;
}
body {    
    background: rgb(229,234,241);
    margin: 0 0 0 0;
    padding: 0 20px 40px 20px;
}

.wrapper {
    width: 100%;
    display: flex;
    border-radius: 20px;
    box-shadow: 
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}
.mailPage {
    width: 90%;
    border-radius: 0 10px 10px 0;
    background: rgb(255,255,255);
}